$mobileMaxWidth: 768px;


$amaranth: 'amaranthbold', sans-serif;
$opensansBold: 'open_sansbold', sans-serif;
$opensansLight: 'open_sanslight', sans-serif;
$opensansRegular: 'open_sansregular', sans-serif;

$textFontSize: size(16);
$titleFontSize: 25px;

$contentMaxWidth: 1024px;

$mobileMainPadding: 10px;
$desktopMainPadding: 20px; 

$white: #fff;
$lighterGrey: #fffafa;
$lightGrey: #ecebeb;
$mediumGrey: #ccc;
$darkGrey: #555252;
$red: #fa6655;
$darkRed: #e47873;
$lightRed: #fce0e1;
$green: #3ac04a70;
$vividGreen: #dcf9a1;
$blue: #3393dd69;
$aqua: #a6efec;
$pink: #fad3f8;
$darkPink: #f666769e;
$grey: #ededed;
$orange: #f7cfa8;
$purple: #b667cf8a;
$darkPurple: #b69dd7;
$vividPurple: #c0a7fa;
$brown: #E5C87D;
$lightBrown: #debea8;
$yellow: #fbdd61;
$ochre: #d6c881;



